.container {
  margin: 0 auto;
  width: 600px;
}

#output {
    width: 400px;
    height: 100px;
    background-color: grey;
    color: white;
    text-align: center;
  }

#result {
  width: 400px;
  height: 100px;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

#rounds {
  width: 400px;
  height: 30px;
  background-color: burlywood;
  color: white;
  text-align: center;
}